In [2]:
import os
import sys
sys.path.append(os.path.abspath('..'))

In [55]:
from importlib import reload
import scripts.data_load_clean_transform, scripts.insurance_analysis, scripts.hypothesis_test
reload(scripts.data_load_clean_transform)
reload(scripts.insurance_analysis)
reload(scripts.hypothesis_test)

In [56]:
from scripts.data_load_clean_transform import DataLoader, DataCleaner
from scripts.insurance_analysis import DataAnalyzer
from scripts.hypothesis_test import ABHypothesisTesting

In [25]:
file_path = '../week 3 data/Data/MachineLearningRating_v3/preprocessed/preprocessed_insurance.csv'
loader = DataLoader(file_path)
data = loader.load_data()

Data successfully loaded from ../week 3 data/Data/MachineLearningRating_v3/preprocessed/preprocessed_insurance.csv

In [26]:
data.head(2)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00+00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00+00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0

In [27]:
data_check = DataCleaner(data)
data_check.check_missing_values()

                      Column  Missing Values  Missing Percentage Data Type
0        UnderwrittenCoverID               0            0.000000     int64
1                   PolicyID               0            0.000000     int64
2           TransactionMonth               0            0.000000    object
3            IsVATRegistered               0            0.000000      bool
4                Citizenship               0            0.000000    object
5                  LegalType               0            0.000000    object
6                      Title               0            0.000000    object
7                   Language               0            0.000000    object
8                       Bank           32857           19.966820    object
9                AccountType           29882           18.158947    object
10             MaritalStatus               0            0.000000    object
11                    Gender               0            0.000000    object
12                   Country               0            0.000000    object
13                  Province               0            0.000000    object
14                PostalCode               0            0.000000     int64
15            MainCrestaZone               0            0.000000    object
16             SubCrestaZone               0            0.000000    object
17                  ItemType               0            0.000000    object
18                    mmcode               0            0.000000     int64
19               VehicleType               0            0.000000    object
20          RegistrationYear               0            0.000000    object
21                      make               0            0.000000    object
22                     Model               0            0.000000    object
23                 Cylinders               0            0.000000     int64
24             cubiccapacity               0            0.000000     int64
25                 kilowatts               0            0.000000     int64
26                  bodytype               0            0.000000    object
27             NumberOfDoors               0            0.000000     int64
28          VehicleIntroDate               0            0.000000    object
29       CustomValueEstimate          118710           72.138699   float64
30          AlarmImmobiliser               0            0.000000    object
31            TrackingDevice               0            0.000000    object
32        CapitalOutstanding               1            0.000608   float64
33                NewVehicle           19355           11.761810    object
34                WrittenOff          105129           63.885682    object
35                   Rebuilt          105129           63.885682    object
36                 Converted          105129           63.885682    object
37               CrossBorder          164558          100.000000   float64
38   NumberOfVehiclesInFleet          164558          100.000000   float64
39                SumInsured               0            0.000000   float64
40             TermFrequency               0            0.000000    object
41  CalculatedPremiumPerTerm               0            0.000000   float64
42            ExcessSelected               0            0.000000    object
43             CoverCategory               0            0.000000    object
44                 CoverType               0            0.000000    object
45                CoverGroup               0            0.000000    object
46                   Section               0            0.000000    object
47                   Product               0            0.000000    object
48            StatutoryClass               0            0.000000    object
49         StatutoryRiskType               0            0.000000    object
50              TotalPremium               0            0.000000   float64
51               TotalClaims               0            0.000000   float64

# Hypothesis testing

In [57]:
# Initialize the tester
tester = ABHypothesisTesting(data)

In [62]:
# select kpi
tester.select_kpi("TotalClaims")

Selected KPI: TotalClaims

In [63]:
# Segment data
tester.segment_data("Province", "Gauteng", "Kwazulu-Natal")

Successfully segmented data. Group A size: 87390, Group B size: 27704

In [64]:
# Perform statistical test
p_value = tester.perform_statistical_test("t-test")

Performed t-test. p-value: 0.5147235113606493

In [65]:
# Evaluate hypothesis
tester.evaluate_hypothesis(p_value)

Fail to reject the null hypothesis: No significant differences detected.

'Fail to reject the null hypothesis: No significant differences detected.'

In [66]:
# Generate a report
analysis = {
    "Selected KPI": tester.kpi,
    "Group A Size": len(tester.group_a),
    "Group B Size": len(tester.group_b),
    "Statistical Test": "t-test",
    "P-Value": p_value,
    "Result": tester.evaluate_hypothesis(p_value),
}

# Print the report
print("\n--- A/B Hypothesis Test Report ---")
for key, value in analysis.items():
    print(f"{key}: {value}")

Fail to reject the null hypothesis: No significant differences detected.

--- A/B Hypothesis Test Report ---
Selected KPI: TotalClaims
Group A Size: 87390
Group B Size: 27704
Statistical Test: t-test
P-Value: 0.5147235113606493
Result: Fail to reject the null hypothesis: No significant differences detected.